body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%), url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    height: 720px;

}

.banner h1 {
    margin: 0;
    font-weight: 700;
    font-size: 55px;

}

.banner-container {
    padding: 180px 700px 0 219px;
}

.banner-container p {
    font-size: 18px;
    margin-bottom: 40px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.article {
    margin: 150px 150px 100px 150px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.article img {
    width: 456px;
    height: 477px;
    border-radius: 5px;
}

.article h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.article p {
    font-size: 18px;
    margin-bottom: 40px;
}

.article-text {
    margin-top: 50px;
}

.help-header h1 {
    font-size: 40px;
    margin: 0px 500px;
    text-align: center;
}

.help-header p {
    font-size: 18px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 80px;
}

.help-box1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 25px 300px 20px 300px;
}

.box {
    background-color: #FEF4F5;
    border-radius: 10px;
    width: 461px;
    height: 225px;
    padding: 50px 25px 50px 25px;
}

.images {
    margin: 120px 150px 120px 180px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-left: 180px;

}

.images img {
    width: 364px;
    height: 391px;
    border-radius: 10px;
}